* {
    margin: 0;
    padding: 120;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f5ebeb;
    color: #333;
    line-height: 1.6;
}
.gateau{
<<<<<<< HEAD
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 1000px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
=======
    
}
>>>>>>> 0afa369fce68c0383d1341fe1407f0c469e60bf2
